body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #FADADD; /* Added background color */
}


#vids {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff69b4;
    color: white;
}

button:hover {
    background-color: pink;
}